@charset "UTF-8";

/* 컨테이너 스타일 */
.container1 {
    background: #ffffff;
    padding: 2em;
    margin: 20px auto;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 폼 제목 스타일 */
h2 {
    margin-bottom: 1em;
    font-size: 1.5em;
    color: #004d99;
    text-align: center;
}

/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #004d99;
    color: #ffffff;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* 버튼 스타일 */
input[type="button"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #004d99;
    color: #fff;
    transition: background-color 0.3s;
    margin-right: 10px;
}

input[type="button"]:hover {
    background-color: #003366;
}
