@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center; /* 전체 텍스트 가운데 정렬 */
}


.form-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
}

.form-container {
    margin: 0 auto;
    border-collapse: collapse;
    width: 60%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(1, 1, 1, 0.2);
    background-color: #f9f9f9;
    padding: 20px;
}

.form-container table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.form-container td {
    padding: 10px;
    text-align: center;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: calc(100% - 20px);
     padding: 10px;
     border-radius: 5px;
     border: 1px solid #ccc;
     display: block;
     margin: 5px auto;
     font-size: 14px;
}

.form-container button {
    background-color: #004D99;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px; /* 버튼의 모서리 둥글기 */
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
.form-container .actions form {
     display: inline;
}
.form-container button:hover {
    background-color: #003a7d;
}

.form-container input::placeholder {
    color: #6a6a6a;
}

.form-container label {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    z-index: 1;
}

@media (max-width: 768px) {
    .form-wrapper {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .form-wrapper {
        width: 100%;
    }
}
