<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="purproduct">

	<!-- 상품 가입 -->
	<insert id="insertSubscription" parameterType="Map">
	    INSERT INTO nepreSavProd (
	        subscription_id, member_id, product_code, subscription_amount, 
	        termination_date, status, early_refund, 
	        interest_payment
	    ) VALUES (
	        #{subscriptionId}, #{memberId}, #{productCode}, #{subscriptionAmount}, 
	        #{terminationDate}, #{status}, #{earlyRefund}, 
	        #{interestPayment} 
	    )
	</insert>
	
	<!-- 결제는 따로 가입 -->	<!-- 자동결제 등록 -->
	<insert id="insertSubscription" parameterType="Map">
 		INSERT INTO nepreSavProd (
			auto_enabled, auto_amount, 
	        auto_cycle, auto_account, auto_date
	    ) VALUES (
			#{autoEnabled}, #{autoAmount}, 
	        #{autoCycle}, #{autoAccount}, #{autoDate}
	    )
	</insert>
	
	<!-- 전체정보 가져오기 (회원ID) -->
	<select id="getAllSubscriptionsByMemberId" parameterType="String" resultType="Map">
	    SELECT * 
	    FROM nepreSavProd
	    WHERE member_id = #{memberId}
	</select>
	

	<!-- 만기시 누적금액 골든볼 등록 만기 회원 중 1명 random -->
	<update id="registerGoldenBallForExpiredSubscriptions" parameterType="Map">
	    UPDATE nepreSavProd
	    SET early_refund = accumulated_amount * (goldenball_rate / 100)
	    WHERE subscription_id = (
	        SELECT subscription_id
	        FROM (
	            SELECT subscription_id
	            FROM nepreSavProd
	            WHERE status = 'Active'
	            AND termination_date &lt;= SYSDATE
	            ORDER BY DBMS_RANDOM.VALUE
	        ) WHERE ROWNUM = 1
	    )
	</update>
	
	<!-- 만기시 기본 이율 반환 -->
	<select id="getBaseRateForExpiredSubscriptions" parameterType="String" resultType="Double">
	    SELECT base_rate
	    FROM neSavProd np
	    JOIN nepreSavProd nps ON np.product_code = nps.product_code
	    WHERE nps.subscription_id = #{subscriptionId}
	    AND nps.termination_date &lt;= SYSDATE
	</select>
	
	<!-- 상품 해지(회원 상태변경, 포기 환급액, 해지 날짜 기록)-->
	<update id="terminateSubscription" parameterType="Map">
	    UPDATE nepreSavProd
	    SET 
	        status = 'Terminated',
	        termination_date = SYSDATE,
	        early_refund = (subscription_amount + interest_payment) * (early_fee / 100)
	    WHERE subscription_id = #{subscriptionId}
	</update>
	

	
	<!-- 자동결제 수정 -->
	<update id="updateAutoPayment" parameterType="Map">
	    UPDATE nepreSavProd
	    SET 
	        auto_amount = #{autoAmount},
	        auto_cycle = #{autoCycle},
	        auto_account = #{autoAccount},
	        auto_date = #{autoDate}
	    WHERE subscription_id = #{subscriptionId}
	</update>
	
	<!-- 자동결제 삭제 -->
	<update id="deleteAutoPayment" parameterType="String">
	    UPDATE nepreSavProd
	    SET 
	        auto_enabled = 'N',
	        auto_amount = NULL,
	        auto_cycle = NULL,
	        auto_account = NULL,
	        auto_date = NULL
	    WHERE subscription_id = #{subscriptionId}
	</update>
	
	
</mapper>