<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="signupPro" parameterType="MemberDTO">
		insert into nemember 
		(memberid,grade,password,name,profile,nickname,email,phone,signup_date)
		values (#{memberID},#{grade},#{password},#{name},#{profile},#{nickname},
		#{email},#{phone},sysdate)
	</insert>
	<select id="findById" parameterType="String" resultType="CustomMemberDetails">
		select memberid, grade as authority, password, name, profile from nemember where memberID = #{memberID}
	</select>
	<select id="findByName" parameterType="String" resultType="MemberDTO">
		select * from nemember where name = #{name}
	</select>
	<select id="findByIdName" parameterType="MemberDTO" resultType="MemberDTO">
		select * from nemember where memberID = #{memberID} and name = #{name}
	</select>
	<update id="updatePw" parameterType="MemberDTO">
		update nemember set password = #{password} where memberID = #{memberID}
	</update>
	<select id="IdEmail" parameterType="String" resultType="String">
		select email from nemember where memberID= #{memberID}
	</select>
	
	<delete id="deleteMember" parameterType="String">
		delete from nemember where memberid = #{member_id}
	</delete>
</mapper>