@charset "UTF-8";
.content_header {
    margin-bottom: 8px;
    border-bottom: 2px solid #c0c0c0;
}
.login-form {
	width: 35%; 
	margin: auto; 
	margin-top: 2%; 
	height: 50%;
}
.button {
    padding: 10px 20px;
    background-color: #004d99;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}